# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# DY API credentials
PROFILE_API_KEY=MY_PROFILE_API_KEY
DY_API_KEY=MY_DY_API_KEY

# ContentStack API credentials
CS_API_KEY=MY_CS_API_KEY
CS_ACCESS_TOKEN=MY_CS_ACCESS_TOKEN

# Clarity Project ID for production environment
CLARITY_PROJECT_ID=MY_CLARITY_PROJECT_ID

# Google Analytics Measurement ID
GA_MEASUREMENT_ID=MY_GA_MEASUREMENT_ID

# Firebase
FIREBASE_API_KEY=MY_FIREBASE_API_KEY
FIREBASE_AUTH_DOMAIN=MY_FIREBASE_AUTH_DOMAIN
FIREBASE_PROJECT_ID=MY_FIREBASE_PROJECT_ID
FIREBASE_STORAGE_BUCKET=MY_FIREBASE_STORAGE_BUCKET
FIREBASE_MESSAGING_SENDER_ID=MY_FIREBASE_MESSAGING_SENDER_ID
FIREBASE_APP_ID=MY_FIREBASE_APP_ID
FIREBASE_MEASUREMENT_ID=MY_FIREBASE_MEASUREMENT_ID
FIREBASE_VAPID_KEY=MY_FIREBASE_VAPID_KEY

# GROQ API Key
GROQ_API_KEY=MY_GROQ_API_KEY

# Amplience
AMPLIENCE_HUB_NAME=YOUR_AMPLIENCE_HUB_NAME

